* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  font-size: 24px;
  font-weight: 400;
}

.timer {
  max-width: 600px;
  margin: 40px auto;
  display: flex;
  justify-content: space-around;
}
.value {
  display: block;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.label {
  display: block;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
